body{
font-family: Arial, sans-serif;
}
.form-control.is-invalid {
border-color: #dc3545;
padding-right: calc(1.5em + .75rem);
background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="%23dc3545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 8v4M12 16h.01"/></svg>');
background-repeat: no-repeat;
background-position: right calc(.375em + .1875rem) center;
background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
display: none;
width: 100%;
margin-top: .25rem;
font-size: 80%;
color: #dc3545;
}

.form-control.is-invalid ~ .invalid-feedback {
display: block;
}
.nav-item:hover {
background-color: #aaaaaa4c;
border-bottom: solid 1px white;
border-radius: 3px;
}

.icon-header:hover {
background-color: #aaaaaa4c;
border-radius: 50%;
}
.header{
background: linear-gradient(to right,  #0165d9, #51a6fa);
}

.footer_home{
background: linear-gradient(to right,  #0165d9 ,#51a6fa);
}
/* Dropdown button hover effect */
.dropdown-toggle:hover {
    color: #ffd700;  /* Màu vàng khi hover vào tên và avatar */
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #343a40;  /* Màu nền tối cho menu */
    border-radius: 8px;          /* Bo tròn góc menu */
    min-width: 220px;            /* Đảm bảo chiều rộng đủ lớn */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Shadow cho menu */
}

/* Hover item trong dropdown */
.dropdown-item:hover {
    background-color: #007bff;  /* Màu nền khi hover vào item */
    color: white;               /* Màu chữ khi hover */
}

/* Đổi màu cho button dropdown khi hover */
.dropdown-item.text-danger:hover {
    background-color: #b6b9bc;  /* Đỏ cho mục đăng xuất khi hover */
    color: white;               /* Đảm bảo chữ trắng */
}


/* Responsive Design - dropdown trong các màn hình nhỏ */
@media (max-width: 768px) {
    .dropdown-menu {
        width: 100%; /* Chiều rộng toàn bộ khi ở màn hình nhỏ */
    }
}

