{% extends 'layout/base.html' %}
{% block title %}
    QUẢN LÝ HỌC SINH
{% endblock %}
{% block content %}
    <div class="container  text-center">
        <h1 class="display-5 fw-bold">CÁC THÔNG BÁO ĐƯỢC CẬP NHẬP TẠI ĐÂY </h1>

    </div>
    <div class="container ">
        <div class="row row-cols-1 row-cols-md-3 g-4">

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">

                            <div class="content">

                            </div>
                        </div>
                        <div class="text-end px-3 pb-1">

                            <p class="align-text-bottom m-0">
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

                            </p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}