{% extends 'layout/base.html' %}
{% block title %}
    Điều chỉnh lớp học
{% endblock %}
{% block content %}
    <div class="container mt-5 card">
        <div class="card-header bf-info layout_title shadow py-3 px-3 bg-white mb-3"> <h2 class="text-center mb-1 mt-1 text-white">DANH SÁCH CÁC LỚP HỌC</h2> </div>
        <hr> <h4 style="color: red;">Năm học : {{year}}-{{year+1}}  ({{semester_name}})</h4>


        <table class="table">
            <thead>
            <tr class="layout_title text-white">
                <th scope="col">ID</th>
                <th scope="col">Lớp</th>
                <th scope="col">Khối</th>
                <th scope="col">Giáo viên chủ nhiệm</th>
                <th scope="col">Sỉ số</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for s in classes %}
                <tr>
                    <th scope="row">{{ s.id }}</th>
                    <td>{{ s.name }}</td>
                    <td>{{ s.grade.value }}</td>
                    <td>{{ s.teacher.user.profile.name }}</td>
                    <td>{{ s.amount}}</td>
                    <td><a class="btn btn-success" href="/class/{{ s.name }}/{{ s.grade.value }}/info">Sửa <i class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin lớp học</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Đây là phần nội dung chi tiết của lớp học.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
