<header class="header">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
<!--            <h3 class="navbar-brand text-white" style="margin-left: 20px">QUẢN LÝ HỌC SINH </h3>-->
            <img  class="navbar-brand text-white logo"  src="https://sis.ou.edu.vn/theme/sisv2/assets/logo.png" alt="Logo Trường">

            <!-- Dropdown User Info -->
            <div class="dropdown d-flex align-items-center">
                <!-- Tên người dùng và Avatar -->
                <button class="btn btn-link text-white dropdown-toggle d-flex align-items-center"
                        type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="mr-2" style="font-size: 1rem;">{{ profile.name }}</span>
                    <img src="{{ url_for('static', filename='images/default_avatar.png') }}" alt="Avatar"
                         class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                </button>

                <!-- Menu Dropdown -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="margin-right: 4px"></i>Tên: {{ profile.name }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Vai trò: {{ current_user.user_role.name }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="/logout"> <i class="fa-solid fa-power-off " style="margin-right: 4px"></i>Đăng xuất</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>
