
<header class="header">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand text-white " style="margin-left :16px" href="#">QUẢN LÝ HỌC SINH</a>

                <div class="d-flex align-content-center" style="margin-right: 30px">

                    <a href="/log_out">
                        <i class="fa fa-sign-out text-white icon-header"
                           style="padding: 10px; margin-left: 10px; font-size: 18px;" aria-hidden="true"></i>
                    </a>
                </div>

        </div>
    </div>
</header>
